
.header {
    display: flex;
    align-items: center;
    background-color: rgb(136, 69, 202);

    &__logo {
        margin-left: 20px;
        padding: 16px;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        a {
            text-decoration: none;
            &:hover {
                color: black;

            }
        }
        li {
            padding-left: 8px;
            cursor: pointer;

           
        }
    }
    &__avatar {
        margin-left: auto;
        margin-right: 8px;
    }
}